
<style>
    .title{
        position: absolute;
        top: 0px;
    }
    .game-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: sans-serif;
        margin-top: 2rem;
    }
    .buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1.5rem;
        margin: 1rem 0;
    }
    .player-hand {
        text-align: center;
        width: 20%;
    }
    .balance {
        bottom: 10px;
        left: 10px;
        font-weight: bold;
    }

    .card-row {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .card {
        padding: 0.25rem 0.5rem;
        border: 1px solid #ccc;
        border-radius: 6px;
        background: white;
        color: black;
        font-weight: bold;
    }

    .dealer-hand {
        text-align: center;
        margin-bottom: 1rem;
    }

</style>