@import 'tailwindcss';

:root {
  --text-color-light: #dcdcf9;
  --text-color-dark: #160433;
  --background-color: #18122b;
  --primary-color: #f66065;
  --secondary-color: #7a5de5;
  --accent-color: #ffbe1a;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
  height: 100vh;           
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color-light);
}

h1 {
  font-family: 'DM Serif Text', serif;
  font-weight: normal;
  font-size: 5rem;
}

h2 {
  font-family: 'DM Serif Text', serif;
  font-weight: normal;
  font-size: 2rem;
}

button {
  margin: 1rem;
  padding: 0.5rem;
  background-clip: padding-box;
  border-radius: 0.5rem;
  background-color: var(--accent-color);
  color: var(--text-color-dark);
}

input {
  margin: 0.25rem;
  padding: 0.5rem;
  background-clip: padding-box;
  border-radius: 0.5rem;
  background-color: var(--secondary-color);
  color: var(--text-color-light);
}

img{
  padding-left: 10%;
  padding-right: 10%;
}

.column{
  display: flex;
  flex-direction: column;
  align-items: center;
}

